mat-card{
  width: 30%;
  margin: auto;
}

mat-card form {
  margin: auto;
  text-align: center;
}

mat-card form input {
  margin-bottom: 1rem;
}

@media(max-width:630px) {
  mat-card {
    width: 80%;
  }
}
