<mat-toolbar class="navbar" color="primary">
  <h2>Student App</h2>
  <div>
    <span><a routerLink="/">home</a></span>
    <span><a routerLink="/students">students</a></span>
    <span><a *ngIf="!_authservice.loggedIn()" routerLink="/login">login</a></span>
    <span><a *ngIf="!_authservice.loggedIn()" routerLink="/register">register</a></span>
    <span><a *ngIf="_authservice.loggedIn()" (click)="logout()">logout</a></span>
  </div>
</mat-toolbar>
<main>
  <router-outlet></router-outlet>
</main>
